body {
    background: linear-gradient(to bottom, darkslategrey, dimgrey);
    color: white;
}


.topimage img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px darkgray;
}

* {
    margin: 0;
    padding: 0;
}

.intro h1 {
    margin-top: 10px;
}

h1{color: cornflowerblue;
    display: flex;
    justify-content: center;
}

.navigation nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    list-style-type: none;
    margin-left: 15px;
    margin-top: 10px;
    border: 2px solid dimgrey;
    border-radius: 10px;
    padding: 1rem 0;
    width: 35%;
}

.title {
    margin-top: -20px;
}

.topimage {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.line-shift1 {
    border: none;
    height: 2px;
    background: darkslategrey;
    margin: 2rem 0;
}

.tresections {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    margin: 1rem;
}

.profiltekst {
    text-align: justify;
    max-width: 30ch;
    margin: 0 auto;
}

.profiltekst {
    border: 2px solid whitesmoke;
    padding: 1rem;
    margin: 1rem 0;
    background: linear-gradient(to bottom,darkslategrey);
    border-radius: 10px;
}
.profiltekst {
    line-height: 30px;
}

.erhvervspunker {
    border: 2px solid whitesmoke;
    padding: 1rem;
    margin: 1rem 0;
    background: linear-gradient(to bottom,darkslategrey);
    border-radius: 10px;
}


.uddannelsespunkter {
    border: 2px solid whitesmoke;
    padding: 1rem;
    margin: 1rem 0;
    background: linear-gradient(to bottom,darkslategrey);
    border-radius: 10px;

}

.uddannelsespunkter li {
    padding-bottom: 10px;
    list-style-type: none;
}


.line-shift2 {
    border: none;
    height: 2px;
    background: darkslategrey;
    margin: 2rem 0;
}


.comp-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.competencies {
    margin: 10px;
    padding: 1rem;
    border: 2px solid darkslategray;
    border-radius: 10px;
    background-color: darkslategrey;
    border: 2px solid whitesmoke;
}

.competencies ul {
    list-style-type: none;
    line-height: 1.8;
}


.interests {
    margin: 10px;
    padding: 1rem;
    border: 2px solid darkslategrey;
    border-radius: 10px;
    background-color: darkslategrey;
    border: 2px solid whitesmoke;

}


.interests p {
    text-align: justify;
    max-width: 30ch;
    margin: 0 auto;
    line-height: 1.8;
}


.erhvervspunker li {
    padding-bottom: 10px;
    list-style-type: none;
}


.lineshift3 {
    border: none;
    height: 2px;
    background: darkslategrey;
    margin: 2rem 0;
}

.myworkhistory {
    margin-top: 10px;
    background-color: grey;
    width: 229px;
    font-size: 1rem;
    padding: 0.1px;
    border: 2px;
    padding: 1rem;
    border-radius: 15px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.lineshift4 {
    border: none;
    height: 2px;
    background: darkslategrey;
    margin: 2rem 0;
}

footer {
    margin-top: 125px;
    background-color: grey;
    width: 229px;
    font-size: 1rem;
    padding: 0.1px;
    border: 2px;
}

.footer{
    color:white;
}


footer {
    margin-top: 125px;
    background-color: grey;
    width: 229px;
    font-size: 1rem;
    padding: 0.1px;
    border: 2px;
}

footer {
    padding: 1rem;
    border-radius: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 5px;
}
footer ul {
    list-style-type: none;
}

.myworkhistory {
    margin-left: 15px;
    margin-top: -5pxpx;
    margin-bottom: -15px;
}

.myworkhistory a {
    color: white;
}

.myworkhistory li {
    list-style-type: none;
}

.myworkhistorictitle {
    margin-left: 20px;
}

